body {
    width: 250px;
    min-height: 150px;
}

#main-container {
    min-height: 50px;
    max-height: 150px;
    overflow-y: scroll;
}

#main-container::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

#main-container::-webkit-scrollbar-thumb {
    background-color: grey;
}

#main-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.sessions-div {
    font-size: small;
    font-style: italic;
}

#main-container div[id$='-name'] {
    padding-left: 0%;
    padding-right: 0%;
}

.my-container {
    /* border: 3px dotted red; */
}
.my-row {
    /* border: 3px solid yellow; */
}
.my-col {
    /* border: 2px solid blue; */
}

